///////////////////////// Variables /////////////////////////

$amy-spacing : 15px;
$amy-top-nav-height : $navbar-height;
$amy-side-nav-width : 200px;
$amy-tile-header-height : 26px;
$amy-tile-border-width : 1px; // important for position calculation in javascript; don't change


///////////////////////// Mixins /////////////////////////

@mixin edge-to-edge {
	display  : block;
	position : absolute;
	top      : 0;
	left     : 0;
	bottom   : 0;
	right    : 0;
	margin   : 0;
	padding  : 0;
}


///////////////////////// Fade-in & Fade-out /////////////////////////

@mixin -fade-in-out-transition($duration: 600ms) {
	&.ng-hide-add, &.ng-hide-remove {
		@include single-transition(opacity, linear, $duration);
		display : block !important;
	}
}


@mixin fade-out($duration: 600ms) {
	@include -fade-in-out-transition($duration);
	&.ng-hide-add.ng-hide-add-active {
		opacity : 0;
	}
	&.ng-hide-add {
		opacity : 1;
	}
}

@mixin fade-in($duration: 600ms) {
	@include -fade-in-out-transition($duration);
	&.ng-hide-remove.ng-hide-remove-active {
		opacity : 0;
	}
	&.ng-hide-remove {
		opacity : 1;
	}
}

@mixin fade-in-out($duration: 600ms) {
	@include fade-out($duration);
	@include fade-in ($duration);
}
