///////////////////////// Variables /////////////////////////

$amy-spacing : 15px;
$amy-top-nav-height : $navbar-height;
$amy-side-nav-width : 200px;
$amy-panel-height: 250px;
$amy-tile-header-height : 26px;
$amy-tile-border-width : 1px; // important for position calculation in javascript; don't change
$amy-tile-status-icon-size: 10px;
$amy-standard-duration: 600ms;


///////////////////////// Mixins /////////////////////////

@mixin edge-to-edge {
	display  : block;
	position : absolute;
	top      : 0;
	left     : 0;
	bottom   : 0;
	right    : 0;
	margin   : 0;
}


///////////////////////// Animated move & resize /////////////////////////

@mixin move-transition($duration: $amy-standard-duration, $delay: 0s) {
	@include transition-property(top, bottom, left, right, width, height, min-width, min-height, line-height, font-size, padding, margin, border-width);
	@include transition-duration($duration);
	@include transition-delay($delay);
	@include transition-timing-function(ease-in-out);
}


///////////////////////// Fade-in & Fade-out /////////////////////////

@mixin -fade-in-out-transition($duration: $amy-standard-duration) {
	&.ng-hide-add, &.ng-hide-remove {
		@include single-transition(opacity, linear, $duration);
		display : block !important;
	}
}

@mixin fade-out($duration: $amy-standard-duration) {
	@include -fade-in-out-transition($duration);
	&.ng-hide-add.ng-hide-add-active {
		opacity : 0;
	}
	&.ng-hide-add {
		opacity : 1;
	}
}

@mixin fade-in($duration: $amy-standard-duration) {
	@include -fade-in-out-transition($duration);
	&.ng-hide-remove.ng-hide-remove-active {
		opacity : 0;
	}
	&.ng-hide-remove {
		opacity : 1;
	}
}

@mixin fade-in-out($duration: $amy-standard-duration) {
	@include fade-out($duration);
	@include fade-in ($duration);
}
