// variables

$apinatomy-spacing: 15px;
$apinatomy-top-nav-height : $navbar-height;
$apinatomy-side-nav-width : 200px;
$apinatomy-tile-header-height : 26px;
$apinatomy-tile-border-width: 1px; // important for position calculation in javascript; don't change
