//noinspection CssUnknownTarget
@import "compass";
@import "bootstrap";
@import "base";
@import "partial/top-nav/view";
@import "partial/side-nav/view";
@import "partial/treemap/view";
@import "partial/tile/view";
@import "partial/details/view";

// // // // // // // // // // // // // // // // // // // // // // // // // // //

html, body {
	@include user-select(none);
	position   : absolute;
	min-height : 100% !important;
	min-width  : 100% !important;
	padding    : 0 !important;
	margin     : 0 !important;
	border     : 0 !important;

	#apinatomy-top-nav {
		@extend .edge-to-edge;
		height : $apinatomy-top-nav-height;
		z-index: 999;
	}

	#apinatomy-side-nav {
		@extend .edge-to-edge;
		top   : $apinatomy-top-nav-height;
		width : $apinatomy-side-nav-width;
	}

	main {
		@extend .edge-to-edge;
		& > .amy-3d-rotation {
			@extend .edge-to-edge;
			& > .apinatomy-treemap {
				@extend .edge-to-edge;
				left   : $apinatomy-spacing + $apinatomy-side-nav-width;
				top    : $apinatomy-spacing + $apinatomy-top-nav-height;
				right  : $apinatomy-spacing;
				bottom : $apinatomy-spacing;
			}
		}
	}
}
