@import "base";

amy-graph {

	pointer-events: none;

	& > svg {

		line {
			stroke-width: 1.5px;
			stroke-linecap: round;

			&.vascular { stroke: red; }
			&.neural { stroke: blue; }
		}

		circle {
			stroke-width: 1.5px;

			&.tilePoint {
				fill: darkred;
				stroke: darkred;
			}

			&.junctionPoint {
				fill: red;
				stroke: red;
			}

			&.junctionArea {
				pointer-events: visiblePainted;
				cursor: move;
				fill: red;
				stroke: red;
				opacity: 0;

				&:hover, &.dragged {
					opacity: .2;
				}
			}
		}

	}
}

