@import "base";

amy-graph {

	pointer-events: none;

	& > svg {

		background-color: rgba(255,255,255,.5);

		line.vessel {
//			pointer-events: visiblePainted;
			cursor: pointer;
			stroke: red;
			stroke-width: 1.5px;
			stroke-linecap: round;
			&:hover {
				stroke: darken(red, 30);
			}
		}

		circle.join {
			fill: red;
			stroke: red;
			stroke-width: 1.5px;
		}

	}
}

