@import "base";

amy-graph {

	pointer-events: none;

	& > svg {

		background-color: rgba(255,255,255,.5);

		line.vesselLine {
//			pointer-events: visiblePainted;
//			cursor: pointer;
			stroke: red;
			stroke-width: 1.5px;
			stroke-linecap: round;
		}

		circle {
			stroke-width: 1.5px;

			&.tilePoint {
				fill: darkred;
				stroke: darkred;
			}

			&.junctionPoint {
				fill: red;
				stroke: red;
			}

			&.junctionArea {
				pointer-events: visiblePainted;
				cursor: move;
				fill: red;
				stroke: red;
				opacity: 0;

				&:hover, &.dragged {
					opacity: .2;
				}
			}
		}

	}
}

