@import "base";

[amy-entity-details] {
	@include border-radius(5px);

	display : block;
	border  : dotted 1px;
	padding : 0;

	&.focus-fixed {
		border-style: solid;
		border-width: 2px;
	}


	//// entity title

	header > h2 {
		font-size     : 16px;
		font-weight   : bold;
		border-bottom : solid 1px;
		margin        : 0;
		padding       : 4px;
	}


	//// important links

	a.importantLink {
		margin: 4px;
		display: block;
		font-weight: bold;

		& > span {
			font-size: 80%;
			margin-left: 10px;
		}
	}


	//// entity details

	dl {
		margin : 4px;

		& > dt {
			margin-right : 5px;
			float        : left;
			clear        : both;
		}
		& > dd {
			margin  : 0px;
		}
	}

}
