node_modules
client/lib
.grunt
.sass-cache
tmp
server/cellml/tmp.cellml2code.*
gulp-tsc-tmp-*
.gulp-tsc-tmp-*
*.js.map
*.d.ts
*.css
*.log
SpecRunner.html

client/Artefact.js
client/amy-circuit-board/CircuitBoardArtefact.js
client/amy-circuit-board/_CircuitBoardArtefact.js
client/amy-circuit-board/artefacts.js
client/app/WebPageArtefact.js
client/color/ColorRange.js
client/simulation/CellMLSimulation.js
client/simulation/NavierStokesSimulation.js
client/utility/Position.js
