<nav amy-side-nav>


	<div class="controls" ng-if="_(artefacts).isEmpty()">
		<kbd>hover</kbd>: tile information<br>
		<kbd>left click</kbd>: open tile<br>
		<kbd>right click</kbd>: close tile<br>
	</div>


	<div ng-repeat="artefact in artefacts">

		<!-- the relation-type indicator in-between two artefacts -->
		<div ng-if="::!$first" class="amy-relation-types">
			<div ng-repeat="relType in ::relTypeArray(artefact)">{{ ::relType }}</div>
		</div>

		<!-- the panel with the tile details; -->
		<amy-entity-details ng-model="artefact" focus-fixed="{{ Artefact.focusIsFixed }}"></amy-entity-details>

	</div>


</nav>
