<tile tile-weight="{{ tile.weight.toString() }}"
      font-fit
      ng-mouseover="onTileMouseOver($event)"
      ng-mouseout="onTileMouseOut($event)"
      ng-right-click="onRightClick($event)">


    <header title="{{ !tile.active ? 'entity is active in another tile' : '' }}"
            ng-class="{ top: tile.open, full: !tile.open }"
            ng-left-click="onHeaderClick($event)"
            ng-mouseover="onHeaderMouseOver($event)"
            ng-mouseout="onHeaderMouseOut($event)">
        <div class="inner-header">{{ ::tile.entity.name }}</div>
    </header>


	<icon-btn ng-if="tile.has3DModel"
	          ng-model="tile.show3DModel"
	          states=" ::{ true:  false,           false:  true            }"
	          classes="::{ true: 'action-show-3d', false: 'action-hide-3d' }"
	          ng-mouseover="onHeaderMouseOver($event)"
	          ng-mouseout="onHeaderMouseOut($event)"></icon-btn>


	<icon-btn ng-if="::(tile.parent.children.length > 1)"
			  ng-model="tile.maximized"
	          states=" ::{ true:  false,              false:  true             }"
	          classes="::{ true: 'action-unmaximize', false: 'action-maximize' }"
	          ng-mouseover="onHeaderMouseOver($event)"
	          ng-mouseout="onHeaderMouseOut($event)"></icon-btn>


    <section ng-if="tile.open">
        <amy-tile-map ng-model="::tile.entity" position="{{
            { left:   tile.position.left   + 1,
              width:  tile.position.width  - 2,
              top:    tile.position.top    + 1 + (tile.hiddenHeader ? 0 : 26+1),
              height: tile.position.height - 2 - (tile.hiddenHeader ? 0 : 26+1) }
        }}"></amy-tile-map>
    </section>


</tile>
