<nav class="amy-top-nav navbar navbar-default" role="navigation">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand amy-brand" href="/">
		<span class="glyphicon glyphicon-eye-open"></span><span>BioMaps</span></a>
	</div>

	<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
            <li class="navbar-form">
                <div class="form-control">
                    <label>
                        <input type="checkbox" ng-model="$root.threeDEnabled" class="checkbox">
                        3D
                    </label>
                </div>
	            <div class="form-control">
		            <label>
			            <input type="checkbox" ng-model="$root.connectionsEnabled" class="checkbox">
			            Connections
		            </label>
	            </div>
                <div class="form-control">
                    <label>
                        <input type="checkbox" ng-model="$root.simulationEnabled" class="checkbox">
                        Simulation
                    </label>
                </div>
                <div class="form-control">
                    <label>
                        <input type="checkbox" ng-model="$root.proteinsEnabled" class="checkbox">
                        Proteins
                    </label>
                </div>
            </li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<form class="navbar-form">
					<div class="input-group" style="width: 200px;">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
					        <button class="btn btn-default" type="button">
						        <span class="glyphicon glyphicon-search"></span>
					        </button>
						</span>
					</div>
				</form>
			</li>
			<!--<li><a class="amy-account-button" href="#">-->
				<!--<span class="glyphicon glyphicon-cog"></span><span>Account</span>-->
			<!--</a></li>-->
		</ul>
	</div>

</nav>
