@import "base";

icon-btn {
	display             : inline-block;
	padding             : 0;
	background-position : center;
	background-repeat   : no-repeat;
	background-origin   : border-box;
	// setting background-size in directive.js

	border-style        : none;
	&:hover { border: dotted 1px; }
}
