@import "base";


//////////////////// Graph Layer ///////////////////////////////////////////////

[amy-graph-layer] {

	//// General styles

	.vertex-wrapper > circle.core {
		pointer-events: visiblePainted;
		cursor: pointer;
		stroke-width : 1.5px;
		&.dragging > circle.core {
			@include experimental-value(cursor, grabbing);
		}
	}

	.focus-fixed > circle.core {
		stroke: darkgreen !important;
		fill: darkgreen !important;
	}

	.connection {
		pointer-events: visiblePainted;
		cursor: pointer;
		stroke-width: 2px;
		stroke-linecap: round;
	}


	//// Artefact-specific styles

	.vascular {
		&.tile-junction.vertex-wrapper {
			& > circle.core { stroke: darkred; fill: darkred; }
		}
		&.branching-junction.vertex-wrapper {
			&.arterial > circle.core { stroke: red; fill: red; }
			&.venous > circle.core { stroke: darkblue; fill: darkblue; }
		}
		&.connection {
			&.arterial { stroke: red; }
			&.venous { stroke: darkblue; }
		}
	}

	.neural {
		&.tile-junction.vertex-wrapper {
			& > circle.core {
				stroke: darken(aqua, 20);
				fill: darken(aqua, 20);
			}
		}
		&.branching-junction.vertex-wrapper {
			& > circle.core {
				stroke: aqua;
				fill: aqua;
			}
		}
		&.connection {
			stroke: aqua;
		}
	}

}


//////////////////// Detail Panels /////////////////////////////////////////////

[amy-entity-details] {
	&.arterial {
		&, & * {
			border-color: red;
			background-color: lightpink;
		}
	}
	&.vascularTileJunction {
		&, & * {
			border-color: red;
			background-color: lightpink;
		}
	}
	&.venous {
		&, & * {
			border-color: blue;
			background-color: lightblue;
		}
	}
}





