<header><h2>Vascular Connection</h2></header>

<div ng-init="artefact.initializeSegmentData()">

    <div ng-repeat="seg in artefact.segments">

        <!-- junction id -->
	    <div style="border-bottom-style: dotted; border-bottom-width: 1px; padding: 2px; text-align: center;">{{ _(seg.from).isString() ? seg.from : (seg.from.name + ' (' + seg.from._id + ')') }}</div>

        <!-- segment info -->
        <div style="border-bottom-style: dotted; border-bottom-width: 1px; padding: 2px;">
            <b>ID:</b>    {{ seg.segmentId }} <br />
            <b>Name:</b>  {{ seg.name }}      <br />
            <span ng-if="seg.entity">
                <b>At:</b>  {{ seg.entity.name }} ({{ seg.entity._id }})
            </span>
        </div>

        <!-- last junction id -->
	    <div ng-if="$last" style="text-align: center;">{{ _(seg.to).isString() ? seg.to : (seg.to.name + ' (' + seg.to._id + ')') }}</div>

    </div>

</div>
