<header><h2>Vascular Connection</h2></header>

<div ng-init="artefact.initializeSegmentData()">

    <div ng-repeat="seg in artefact.segments">

        <!-- junction id -->
        <div style="border-bottom: dotted 1px red; padding: 2px; text-align: center;">{{ seg.from }}</div>

        <!-- segment info -->
        <div style="border-bottom: dotted 1px red; padding: 2px;">
            <b>ID:</b>    {{ seg.segmentId }} <br />
            <b>Name:</b>  {{ seg.name }}      <br />
            <span ng-if="seg.entity">
                <b>At:</b>  {{ seg.entity.name }} ({{ seg.entity._id }})
            </span>
        </div>

        <!-- last junction id -->
        <div ng-if="$last" style="text-align: center;">{{ seg.to }}</div>

    </div>

</div>