@import "base";

amy-protein-graph {

	pointer-events: none;

	& > svg {

		line.vesselLine {
			stroke: purple;
			stroke-width: 1.5px;
			stroke-linecap: round;
		}

		circle {
			&.junctionArea {
				pointer-events: visiblePainted;
				cursor: move;
				fill: lighten(purple, 20);
				stroke: purple;

				&:hover, &.dragged {}

				&.fixed {
					fill: lighten(green, 20);
					stroke: green;
				}
			}

			&.smallMoleculeIndicator {
				stroke-width: 2px;
				stroke: purple;
				fill: none;

				&.fixed {
					stroke: green;
				}
			}
		}

	}
}

