@import "base";

trace-diagram {

	display: block;

	& > svg {

		& > g {

			.border {
				fill: white;
				stroke: black;
				stroke-width: 1px;
				shape-rendering: crispEdges;
			}

			.trace {
				fill: none;
				stroke-linejoin: round;
				stroke-cap: round;
				stroke-width: 1.5px;
				pointer-events: none;

				&.shadow {
					stroke: white;
					stroke-width: 1.4px;
				}

			}

			.focus-indicator {
				stroke: gray;
				stroke-width: 1px;
				pointer-events: none;
			}

			.axis {
				path, line {
					fill: none;
					stroke: black;
					shape-rendering: crispEdges;
				}

				&.x {}

				&.y {}
			}

			.no-data {
				fill: lighten(lightgray, 10);
				stroke: none;
			}

		}

	}

}

#variable-glyph-dialog-container {
	@include edge-to-edge;
}
