@import "base";
@import "partial/circuitboard/tile/view";
@import "partial/circuitboard/graph/view";
@import "partial/circuitboard/variable-glyphs/view";
@import "partial/circuitboard/protein-graph/view";
@import "partial/rotation/view";
@import "partial/treemap/view";
@import "partial/circuitboard/threed/view";

amy-circuitboard {
	.amy-flat-circuitboard {
		@include edge-to-edge;
		@include backface-visibility(hidden);
		amy-treemap {
			@include edge-to-edge;
		}
		div.smokescreen {
			@include edge-to-edge;
			pointer-events: none;
			background-color: rgba(255,255,255,.3);
		}
		amy-graph {
			@include edge-to-edge;
		}
		amy-variable-glyphs {
			@include edge-to-edge;
		}
		amy-protein-graph {
			@include edge-to-edge;
		}
	}
	amy-canvas {
		@include edge-to-edge;

		& > div {
			@include edge-to-edge;

			& > div {
				@include edge-to-edge;
				z-index: 0;
			}
			canvas {
				@include edge-to-edge;
				z-index: 1;
				pointer-events: none;
			}
		}
	}
}

