<!-- to rotate the circuitboard -->
<amy-rotation amy-model="style3D" enabled="$root.threeDRotateEnabled">

    <!-- the treemap -->
    <amy-treemap ng-style="style3D"
                 layout="rowsOfTiles"
                 on-redraw="onTreemapRedraw()">

        <!-- one tile for each 'child element' (of the 24 tiles) -->
        <amy-circuitboard-tile ng-repeat="child in children" amy-entity="child"></amy-circuitboard-tile>

    </amy-treemap>

    <!-- the connection-graph hovering over the treemap -->
    <amy-graph ng-if="$root.connectionsEnabled" ng-style="style3D"
               amy-active-tile-junctions="activeTileJunctions"
		       dragging="thisTile.tileHighlightingDisabled"></amy-graph>

</amy-rotation>
