<div class="amy-flat-circuitboard">

    <!-- the treemap -->
    <amy-treemap layout="rowsOfTiles" on-redraw="onTreemapRedraw()">

        <!-- one tile for each 'child element' (of the 24 tiles) -->
        <amy-circuitboard-tile ng-repeat="child in children" amy-entity="child"></amy-circuitboard-tile>

    </amy-treemap>

    <!-- the connection-graph hovering over the treemap -->
    <amy-graph ng-if="$root.connectionsEnabled"
               amy-active-tile-junctions="activeTileJunctions"
               dragging="thisTile.tileHighlightingDisabled"></amy-graph>

</div>

<!-- the 3D canvas -->
<amy-canvas ng-if="$root.threeDEnabled"
            circuit-board-element="cbElement"
            amy-margin="{ top: 15, left: 200 + 15, right: 15, bottom: ($root.simulationEnabled ? 250 : 0) + 15 }">
</amy-canvas>
