<div class="amy-protein-details">

	<header ng-if="proteinLabel"><h2>{{ proteinLabel }}</h2></header>

	<a ng-if="protein.ensembl" class="importantLink" ng-href="http://www.ensembl.org/id/{{ protein.ensembl }}" title="{{ protein.ensembl }}" target="_blank">
		At Ensembl<span class="glyphicon glyphicon-new-window"></span></a>

	<a ng-if="protein.swissprot" class="importantLink" ng-href="http://www.uniprot.org/uniprot/{{ protein.swissprot }}" title="{{ protein.swissprot }}" target="_blank">
		At UniProt<span class="glyphicon glyphicon-new-window"></span></a>

	<div ng-if="protein.smallMoleculeCount > 0" style="margin: 0; padding: 0;">
		<dl>
			<dt title="Small Molecule Interactions">S.M. Interactions:</dt>
			<dd>{{ protein.smallMoleculeCount }}</dd>
		</dl>
		<ul style="padding-left: 27px; margin-top: -4px;">
			<li ng-repeat="sm in protein.smallMolecules">
				<div style="display: inline-block; position: relative; top: 5px; width: 144px; overflow: hidden; text-overflow: ellipsis;">
					<a ng-href="{{ extractURL(sm) }}" style="white-space: nowrap;" title="{{ extractPrefLabel(sm) }}" target="_blank">{{ extractPrefLabel(sm) }}</a>
				</div>
			</li>
		</ul>
		<div ng-if="protein.smallMoleculeCount > 10" style="text-align: center; font-weight: bold;">
			<a href="#" style="color: black;">&lt;&lt;</a>
			&nbsp;
			<a href="#" style="color: black;">&lt;</a>
			&nbsp;&nbsp;
			<span>1 / {{ Math.ceil(protein.smallMoleculeCount / 10) }}</span>
			&nbsp;&nbsp;
			<a href="#" style="color: black;">&gt;</a>
			&nbsp;
			<a href="#" style="color: black;">&gt;&gt;</a>
		</div>
	</div>


</div>
