<div class="amy-protein-details">

	<header ng-if="proteinLabel"><h2>{{ proteinLabel }}</h2></header>

	<a ng-if="protein.ensembl" class="importantLink" ng-href="http://www.ensembl.org/id/{{ protein.ensembl }}" title="{{ protein.ensembl }}" target="_blank">
		At Ensembl<span class="glyphicon glyphicon-new-window"></span></a>

	<a ng-if="protein.swissprot" class="importantLink" ng-href="http://www.uniprot.org/uniprot/{{ protein.swissprot }}" title="{{ protein.swissprot }}" target="_blank">
		At UniProt<span class="glyphicon glyphicon-new-window"></span></a>

	<div ng-if="protein.smallMoleculeInteractions.length > 0" style="margin: 0; padding: 0;">
		<dl>
			<dt title="Small Molecule Interactions">S.M. Interactions:</dt>
			<dd>{{ protein.smallMoleculeInteractions.length }}</dd>
		</dl>
		<ul style="padding-left: 27px; margin-top: -4px;">
			<li ng-repeat="sm in visibleSmallMolecules">
				<div style="display: inline-block; position: relative; top: 5px; width: 144px; overflow: hidden; text-overflow: ellipsis;">
					<a ng-href="{{ extractURL(sm) }}" style="white-space: nowrap;" title="{{ extractPrefLabel(sm) }}" target="_blank">{{ extractPrefLabel(sm) }}</a>
				</div>
			</li>
		</ul>
		<div class="pagination">
			<a ng-click="smPagination.page = 1" ng-class="{ disabled: smPagination.page === 1 }">&lt;&lt;</a>
			&nbsp;
			<a ng-click="smPagination.page = Math.max(1, smPagination.page - 1)" ng-class="{ disabled: smPagination.page === 1 }">&lt;</a>
			&nbsp;&nbsp;
			<span>{{ smPagination.page }} / {{ smPagination.lastPage }}</span>
			&nbsp;&nbsp;
			<a ng-click="smPagination.page = Math.min(smPagination.lastPage, smPagination.page + 1)" ng-class="{ disabled: smPagination.page === smPagination.lastPage }">&gt;</a>
			&nbsp;
			<a ng-click="smPagination.page = smPagination.lastPage" ng-class="{ disabled: smPagination.page === smPagination.lastPage }">&gt;&gt;</a>
		</div>
	</div>


</div>
