<div class="amy-protein-details">

	<dl>
		<dt ng-if="protein.ensembl">Ensembl ID:</dt>
		<dd ng-if="protein.ensembl">{{ protein.ensembl }}</dd>

		<dt ng-if="protein.swissprot">SwissProt ID:</dt>
		<dd ng-if="protein.swissprot">{{ protein.swissprot }}</dd>

		<dt ng-if="protein.smallMolecules.length > 0" title="Small Molecule Interactions">Sm.M. Interactions:</dt>
		<dd ng-if="protein.smallMolecules.length > 0">{{ protein.smallMolecules.length }}</dd>
	</dl>
    <ul ng-if="protein.smallMolecules.length > 0">
        <li ng-repeat="sm in protein.smallMolecules">
            {{ extractChemblID(sm) }}
        </li>
        <li ng-if="protein.smallMolecules.length >= 10">
            ...
        </li>
    </ul>

</div>
