@import "base";

amy-canvas {

	& > div {
		@include edge-to-edge;

		& > div {
			@include edge-to-edge;
			z-index: 0;
		}
		canvas {
			@include edge-to-edge;
			z-index: 1;
			pointer-events: none;
		}
	}

}

