@import "base";

amy-tile {
	@include box-sizing(border-box);
	display    : block;
	position   : absolute;
	margin     : 0;
	cursor     : crosshair;
	text-align : center;
	padding    : 0 8px;

	//// growing / shrinking animations
	@include transition-property(top, bottom, left, right, width, height, min-width, min-height, font-size, padding, line-height);
	@include transition-duration(.6s);
	@include transition-timing-function(ease-in-out);

	& > .full-header {
		@include box-sizing(border-box);
		@include user-select(none);
		display        : inline-block;
		font-weight    : bold;
		text-align     : center;
		vertical-align : middle;
		border-style   : none;
		line-height    : normal;
		opacity        : 0;
		&.opaque {
			//// delayed reveal of the full header, only on reappearance
			@include single-transition(opacity, linear, .6s, .8s);
			opacity : 1;
		}
	}

	& > .top-header {
		@include box-sizing(content-box);
		@include user-select(none);
		display        : block;
		position       : absolute;
		font-weight    : bold;
		text-align     : center;
		vertical-align : middle;
		margin         : 0;
		padding        : 0;
		top            : 0;
		left           : 0;
		right          : 0;
		height         : $amy-tile-header-height;
		// setting line-height and font-size in directive.js
		border-width   : 1px;
		border-color   : white;
		border-style   : none none dotted none;
		@include single-transition(opacity, linear, .6s);
		opacity        : 0;
		&.opaque { opacity : 1; }

		padding-left   : $amy-tile-header-height;
		padding-right  : $amy-tile-header-height;
		& > icon-btn {
			position : absolute;
			top      : 2px;
			right    : 2px;
			height   : $amy-tile-header-height - 4px;
			width    : $amy-tile-header-height - 4px;
		}
	}

	& > section {
		@include box-sizing(border-box);
		position : absolute;
		display  : block;
		margin   : 0;
		padding  : 0;
		top      : $amy-tile-header-height + 1px;
		left     : 0;
		bottom   : 0;
		right    : 0;
		opacity  : 0;
		@include single-transition(opacity, linear, .6s);
		&.opaque { opacity : 1; }
		&.hidden { visibility : hidden; }
	}

	// borders
	border     : solid;

	// overflow
	overflow   : hidden;
	& > section { overflow : hidden; }
	& > header { overflow : hidden; }
}
