<header ng-class="{ opaque: open }" class="top-header">
    <icon-btn ng-show="$root.threeDEnabled && open" states="showThreeDModelStates" classes="showThreeDModelClasses" ng-model="showThreeDModelModel"></icon-btn>
    <icon-btn ng-show="open" states="sizeButtonStates" classes="sizeButtonClasses" ng-model="sizeButtonModel"></icon-btn>
	<span once-text="title"></span>
</header>

<header ng-class="{ opaque: !open }" class="full-header">
	<span once-text="title"></span>
	<span ng-if="frontIcon" title="{{ frontIconTitle }}"
	      class="amy-tile-status-icon glyphicon glyphicon-{{ frontIcon }}"></span>
</header>

<section ng-class="{ opaque: open, hidden: contentHidden }" ng-transclude></section>
