@import "base";
@import "partial/amy-circuit-board/amy-tile-map/view";
@import "partial/amy-circuit-board/amy-tile/view";
@import "partial/amy-circuit-board/amy-graph-layer/view";

[amy-circuit-board] {
	& > .flat-circuit-board {
		@include edge-to-edge;
		position: absolute;

		& > [amy-tile-map] {
			@include edge-to-edge;
			z-index: 1 !important;
		}

		& > [amy-graph-layer] {
			@include edge-to-edge;
			z-index: 2 !important;
		}

	}
}
