<amy-tile amy-open="open"
          amy-weight="weight"
          amy-title="entity.name"
          amy-layout="styling[state].layout"
          amy-size-button-model="condition"
          amy-size-button-states="{ 'open': 'maximized', 'maximized': 'open' }"
          amy-size-button-classes="{ open:      'icon-btn-full-'  + styling[state].css['&'].color,
	                                 maximized: 'icon-btn-small-' + styling[state].css['&'].color }"
          amy-show-three-d-model-model="tile3D.show"
          amy-show-three-d-model-states="{ 'true': 'false', 'false': 'true' }"
          amy-show-three-d-model-classes="{ 'true':  'icon-btn-show3d-' + styling[state].css['&'].color,
	                                        'false': 'icon-btn-hide3d-' + styling[state].css['&'].color }"
          amy-show-three-d-button="tile3D.hasModels"
          amy-front-icon="visible && !active && 'asterisk'"
          amy-front-icon-title="'The \'' + entity.name + '\' is active in another tile.'"
          ng-mouseenter="mouseOver = true"
          ng-mouseleave="mouseOver = false"
          ng-click="onClick($event)"
          on-ready="onTileReady()"
          after-reposition="afterTileReposition(newPosition)">

	<div amy-once="open">
		<amy-circuitboard-tile ng-repeat="sub in _.uniq(entity.sub, false, 'entity')"
		                       amy-entity="sub.entity"></amy-circuitboard-tile>
	</div>

</amy-tile>
