@import "base";

.amy-side-nav {
	background-color : rgba(255, 255, 255, .5);
	padding-top      : $amy-spacing / 2;

	div.controls {
		@include border-radius(5px);
		display  : block;
		padding  : 4px;
		position : absolute;
		top      : $amy-spacing;
		left     : $amy-spacing;
		right    : $amy-spacing;
		border   : dotted 1px gray;
		line-height: 22px;

		kbd {
			@include border-radius(4px);
			border  : solid 1px lightgray;
			margin  : 2px;
			padding : 0 2px;
		}
	}

	.amy-entity-details, .amy-protein-details {
		//		@include fade-out;
		margin-left : $amy-spacing;
		margin-top  : $amy-spacing / 2;
	}

	& .amy-relation-types {
		font-weight  : bold;
		text-align   : center;
		border       : dotted gray 1px;
		margin-top   : 0.5 * $amy-spacing;
		margin-left  : 2.0 * $amy-spacing;
		margin-right : 1.0 * $amy-spacing;

		& > div {
			margin : 0;
			&:not(:last-of-type) {
				border-bottom : dotted 1px gray;
			}
		}

	}

}

@import "partial/side-nav/details/view";
@import "partial/side-nav/proteinDetails/view";
