@import "base";

.amy-side-nav {

	background-color : rgba(255, 255, 255, .5);

	& > header {
		margin-top    : $amy-spacing;
		margin-bottom : $amy-spacing;
		padding       : 0px;
		border-style  : none none solid none;
		border-width  : 2px;
		border-color  : lightgray;

		& > h2 {
			text-align    : right;
			padding-right : $amy-spacing;
			font-size     : 18pt;
			font-family   : serif;
			font-weight   : bold;
			margin-top    : 0;
			margin-bottom : -4px;
		}

	}

	& > .amy-entity-details {
		@include fade-out;
		margin-left   : $amy-spacing;
		margin-bottom : $amy-spacing;
	}

}

@import "partial/side-nav/details/view";
