<nav amy-side-nav role="navigation">

	<header><h2>ApiNATOMY</h2></header>

	<div ng-repeat="artefact in artefacts">

		<!-- the relation-type indicator in-between two artefacts -->
		<div ng-if="!$first" class="amy-relation-types">
			<div ng-repeat="relType in relTypeArray(artefact)">{{ relType }}</div>
		</div>

		<!-- the panel with the tile details; TODO: make it work for all artefacts -->
		<amy-entity-details ng-model="artefact"></amy-entity-details>

	</div>


	<!--<div ng-if="sideNav.protein" class="amy-relation-types">-->
		<!--<div>protein expression</div>-->
	<!--</div>-->

	<!--<amy-protein-details ng-if="sideNav.protein" amy-protein="sideNav.protein" amy-fixed="proteinFixed"></amy-protein-details>-->

</nav>
