<div class="controls">
	<icon-btn class="run-pause-btn"
	          states ="{ stopped: 'running', paused: 'running', running: 'paused'   }"
	          classes="{ stopped: 'action-run',  paused: 'action-run',  running: 'action-pause' }"
	          ng-model="timer.state"></icon-btn>
	<icon-btn class="stop-btn action-stop"
	          states ="{ stopped: 'stopped', paused: 'stopped', running: 'stopped'  }"
	          ng-model="timer.state"></icon-btn>
	<slider ng-model="timer.currentTime"
	        floor="0"
	        ceiling="{{timer.maxTime}}"
	        step="{{timer.timeInterval}}"
	        translate="timeFormat">
	</slider>
</div>

<section>
	<amy-time-trace ng-repeat="stream in streams"
                    amy-stream="stream"
	                amy-current-time="timer.currentTime"
	                amy-max-time="timer.maxTime">
	</amy-time-trace>
</section>
